*{
    padding: 0;
    margin: 0;
    font-family: roboto;
}


.navbar{
    height: 100px;
    display: flex;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

.title{
    margin: auto auto auto 50px;
    width: 208px;
    height: 20px;
    object-fit: contain;
    font-family: Baskerville;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #3b3b3b;
}

/*  */

.buttons{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-between;
}

.button {
    padding: 3px 39px 0 40px;
    border-radius: 2px;
    border: solid 1px  #050607;
    cursor: pointer;
}

.active{
    padding: 3px 39px 0 40px;
    border-radius: 2px;
    border: solid 1px  #1797ff;
    cursor: pointer;
    font-family: Roboto;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #1797ff;
}
.inactive{
    padding: 3px 39px 0 40px;
    border-radius: 2px;
    border: solid 1px  #050607;
    cursor: pointer;
    font-family: Roboto;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    
}

.all span, .faves span{
    font-family: Roboto;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    
}

/*  */
.selection{
    display: flex;
    margin-top: 70px;
}

select{
    width: 220px;
    height: 35px;
    margin-top: 20px;
    margin-left: 10px;
    justify-self: start;
    border-radius: 6px;
}

/*  */

.section-news{
    
    margin-top: 130px;
    margin-bottom: 40px;
}

.news{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

a{
    color: #050607;
    text-decoration: none;
    z-index: 100;
}


.card-new{
    
    width: 500px;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;
    display: flex;
    margin-bottom: auto auto 30px auto;
   
}

.card-new:hover{
    opacity: 0.7;
}

.favorite{
    margin: 0 0 0 auto;
    border: solid 1px #606060;
    background-color: #c0bcbc;
    display: flex;
}
.title-new p {
    padding: 10px;
    display: flex;
    gap: 2px;
}

.description-new p{
    font-family: Roboto;
    padding: 10px;
}

.favorite{
    background-color: #c4bfbf;
    
}

.favorite p {
    font-family: Roboto;
    padding: 15px;
    
    margin: auto;
}


.favorite img{
    cursor: pointer;
    z-index: 400;
}

/*  */
.pagination{
    font-family: roboto;
    margin: auto;
    display: flex;
    width: 400px;
    overflow: auto;
    margin-bottom: 70px;
}

.page{
    padding: .5em;
    background: #efefef;
    border: 1px solid #333;
    margin: auto;
    border-radius: 6px;
}
.scrollTop{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 300;
    padding: 1rem;
    background-color: #ececec;
    border:1px solid #1797ff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5rem;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scrollTop:hover{
    background-color: #1797ff;
    border:1px solid #ececec;
}
