<nav class="navbar">
  <span class="title">HACKER NEWS</span>
</nav>
<main>

  <!-- <span>Allnews? : {{allNewsShow}}</span>
  <span>Allfavs? : {{favNewsShow}}</span> -->

  <div class="all-favs">
    <div class="buttons">
      <div  [className]="allNewsShow ? 'active': 'inactive'" (click) ="showAllNews()"><span>All</span></div>
      <div  [className]="favNewsShow ? 'active': 'inactive'" (click) ="showFavNews()"><span>My faves</span></div>
    </div>
  </div>


  <div class="selection">

    <select name="news"  [(ngModel)]="newSelected" (change)="changeNews()">
      <option value="Select your news">
        <span>Select your news</span> 
      </option>

      <option value="angular">
        <span>Angular</span> 
      </option>
      
      <option value="reactjs">
        <span>Reacts</span>
    
      </option>
      <option value="vuejs">
        <span>Vuejs</span> 
      </option>
    </select>

  </div>

  <div class="section-news">

    <div class="news">

      <a class="card-new" *ngFor="let filterNew of filterNews; let ind = index" href="{{filterNew.story_url}}" target="_blank">
        <div class="content">
          <div class="title-new">
            <p>
              <img src="../assets/clock.svg" alt="clock">
              <span>{{filterNew.created_at}} by {{filterNew.author}}</span>
            </p>
          </div>
          <div class="description-new">
            <p>{{filterNew.story_title}}</p>
          </div>
        </div>
        <div class="favorite" >
          <p>
            <span>
              <img *ngIf="filterNew.points === null" src="../assets/heart-empty.svg" alt="" (click) = "addFavorite(filterNew, ind, $event)">
              <img *ngIf="filterNew.points !== null" src="../assets/heart-full.svg" alt="" (click) = "removeFavorite(filterNew, ind, $event)">
            </span>
          </p>
        </div>
      </a> 
    </div>

  </div>

  <div class="pagination">
    <div class="page"><</div>
    <div class="page">1</div>
    <div class="page">2</div>
    <div class="page">3</div>
    <div class="page">4</div>
    <div class="page">5</div>
    <div class="page">6</div>
    <div class="page">7</div>
    <div class="page">8</div>
    <div class="page">9</div>
    <div class="page">10</div>
    
    <div class="page">></div>
  </div>

  
</main>